In [4]:
from curl_cffi import requests
import pandas as pd

In [74]:
codes = {
  '166',
'17945',
'2124',
'40820',
'1061448',
'37426',
'175',
'1177183',
'1061443',
'29227',
'177',
'3',
'178',
'2138',
'179',
'29379',
'4',
'172',
'29078',
'169',
'23705',
'2168',
'1057392',
'167',
'13666',
'147',
'27',
'23693',
'14958',
'44336',
'42',
'29049',
'38015',
'41063',
'954193',
'942611',
'23901',
'2179',
'1057391',
'23673',
'2111',
'2126',
'2214',
'160'

}

headers = {
    'Referer': 'https://www.investing.com/',
    'domain-id': 'www'
  }

#Truyền params vào api
start_date = '2020-01-01'
end_date = '2029-12-31'
time_frame = 'Daily'

data_list = []
for code in codes:
  url = f"https://api.investing.com/api/financialdata/historical/{code}?start-date={start_date}&end-date={end_date}&time-frame={time_frame}&add-missing-rows=false"

  try:
    response = requests.get(url, headers=headers, impersonate="chrome")
    if response.status_code == 200:
        response_data = response.json()
        if 'data' in response_data:
          df = pd.DataFrame(response_data['data'])
          columns_to_keep = ['rowDateTimestamp', 'last_close', 'last_open', 'last_max', 'last_min', 'volumeRaw']
          existing_columns = [col for col in df.columns if col in columns_to_keep]
          if existing_columns:
            df = df[existing_columns]
            df.rename(columns={
                      'volumeRaw': 'volume',
                      'rowDateTimestamp': 'date',
                      'last_close': 'close_price',
                      'last_open': 'open_price',
                      'last_max': 'high',
                      'last_min': 'low'
                  }, inplace=True)
            df['code'] = code
            # Transform data types
            df = df.replace(',', '', regex=True)
            df['code'] = df['code'].astype('string')
            df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')
            df['date'] =  pd.to_datetime(df['date'] , format='%Y-%m-%d')
            df['close_price'] = df['close_price'].astype('float') 
            df['open_price'] = df['open_price'].astype('float') 
            df['high'] = df['high'].astype('float') 
            df['low'] = df['low'].astype('float') 
            df['volume'] = df['volume'].astype('float')
            df = df[(df['volume'].notnull()) & (df['volume'] != 0)]
            data_list.append(df)
          else:
                    print(f"Missing expected columns for code {code}")
        else:
                print(f"No data found for code {code}")
    else:
        print(f"{response.status_code}: {response.text}") 
  except requests.exceptions.RequestException as e:
      print(f"Error: {e}")
    
if data_list:
    final_df = pd.concat(data_list, ignore_index=True)
else:
    print("No data retrieved from API.")

In [75]:
final_df

,date,close_price,open_price,high,low,volume,code
0,2024-11-04,2474.05,2457.68,2490.21,2436.33,2.729270e+05,1061443
1,2024-11-03,2457.68,2492.54,2496.33,2411.72,3.053820e+05,1061443
2,2024-11-02,2492.45,2511.96,2523.41,2472.02,1.583560e+05,1061443
3,2024-11-01,2511.96,2519.14,2584.17,2471.45,4.633410e+05,1061443
4,2024-10-31,2519.14,2658.62,2668.39,2506.64,4.320720e+05,1061443
...,...,...,...,...,...,...,...
32649,2020-01-08,6225.69,6248.44,6250.12,6218.13,4.462258e+09,29049
32650,2020-01-07,6279.35,6272.22,6284.89,6246.13,3.944161e+09,29049
32651,2020-01-06,6257.40,6293.50,6300.44,6252.64,4.142126e+09,29049
32652,2020-01-03,6323.47,6306.19,6323.47,6287.71,4.462526e+09,29049
32653,2020-01-02,6283.58,6313.13,6317.01,6263.68,3.304367e+09,29049

In [ ]:
import sqlalchemy as sa
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Define database connection parameters
engine = sa.create_engine(f"mssql+pyodbc://account:password@server/{'database'}?driver=SQL+SERVER", use_setinputsizes=False)

final_df.to_sql('Investing_IndexData', engine, if_exists='append', index=False)

63